@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

// обнуляющий файл
@import "_null";
@import "_header";
@import "_footer";
@import "_media";

@font-face {
    font-family: 'Georgia';
    src: local('Georgia Bold'), local('Georgia-Bold'),
        url('Georgia-Bold.woff2') format('woff2'),
        url('Georgia-Bold.woff') format('woff'),
        url('Georgia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


body {
  font-family: "Montserrat";
  color: #eefceb; /* FCE181 */
}

.container {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0 15px;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */

.intro {
  padding: 6.6% 0 40px;
  height: 100vh;
  text-align: center;
  background: #112D32       ;
 /*  background-image: url(/img/bg.png);
  background-size: auto;
  background-position: 100%;
  background-repeat: no-repeat; */
  
}

.intro_title h1 {
  font-size: 3.8em;
  margin-top: 40px;
}

.intro_subtitle h2{
  font-size: 3.8em;
  margin-top: 40px;
}

.intro_bottom_group {
  margin-bottom: 30px;
  position: absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%);
  
}

.intro_info {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
}

.intro_links a {
  margin-right: 20px;

  &:hover {
    opacity: .8;
  }

  &:nth-last-child(1) {
    margin-right: 0px;
  }
}


/* ////////////////////////////////////////////////////////////////////////////////////// */

.about_section {
  background: #254E58; /* #254E58 - #112D32 */
  padding: 100px 0;
}

.section_title {
  font-family: "Georgia";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
}

.about_text {
  max-width: 600px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  
  margin-bottom: 30px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.skills_section {
  background: #112D32;
  padding: 100px 0;
}

.skills_main {
  display: flex;
  justify-content: space-around;
}

.skills_title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.skills_list li {
  margin-bottom: 8px;
  list-style: disc;
  font-size: 16px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */



.portfolio_section {
  background: #254E58;
  padding: 100px 0;

 
}

.portfolio_main {
  margin: 0 0 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

}

.portfolio_image_left {
  margin-right: 100px;
}

.portfolio_image_right {
  margin-left: 100px;
}


.portfolio_text {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
 

  p {
    margin-bottom: 25px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  .portfolio_link {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #fff;

    &:hover {
      color: #FCE181;
    }

  }
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 750px) and (min-width: 360px) {

   body h2 {
    font-size: 30px;
  }

  .intro_top_group {

    .intro_title h1{
      font-size: 35px;
    }

    .intro_subtitle h2 {
      font-size: 30px;
    }
    
  }

  .intro_info p {
    font-size: 14px;
  }
  .intro_links {
    display: flex;
  }

  .skills_main {
    display: grid;
  }

  .skills_item {
    max-width: 100%;

    .skills_title {
      margin-top: 20px;
    }
  }

  .portfolio_main {
    flex-direction: column;
    margin: 0 0 30px 0;
  }

  .portfolio_text{
    text-align: center;
    
  }

  .portfolio_image_left {
    margin: 0 0 20px 0;
  

    & img {
       max-width: 100%;
    }
  }  

  .portfolio_image_right {
    margin: 0 0 20px 0;
    

    & img {
       max-width: 100%;
    }
  }

  .footer {
    padding: 30px 0 20px 0;
  }

  .footer_info p {
    /* margin-bottom: 8px; */
  }

  .footer_item {
    
    
    &:nth-child(1) {
      align-items: center;
    }
  }

  .footer_ul {
    display: inline;

    .footer_li {
      margin-bottom: 11px;
    }
  }

  .footer_photo {
   display: none;
  }

  .footer_icon {
   display: none;
  }

}